nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: rgb(116, 116, 116);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav-links-right {
  align-items: center;
  display: flex;
  color: white;
}

.nav-link {
  color: white;
  margin: 5px;
}

.logo {
  color: white;
  font-weight: 700;
  list-style: none;
}
